.jumbotron
    h1 Добро пожаловать, {{user.firstName}} {{user.lastName}}.
    p В этом разделе вам <span ng-if="!userTables.length">будут </span>доступны все сохраненные таблицы.
ul.list-group
    li.table-list.list-group-item.clearfix(ng-repeat="table in userTables track by $index")
        a.profile-table-link(ng-href="#tables/{{table._id}}") {{table.tableName}}
        span.pull-right
            a.btn.btn-info.marged-right(ng-href="#tables/{{table._id}}", ng-click="tableService.edit = true") Редактировать
            button.btn.btn-danger.marged-right(ng-click="deleteTable(table, $index)") Удалить
            button.btn.btn-default(type="button", data-toggle="dropdown", aria-expanded="false") Сохранить как...
                span.caret
            ul.dropdown-menu.save-dropdown(role="menu")
                li
                    a(ng-click="exportTable(table, 'xlsx')") Файл MS Excel
                li
                    a(ng-click="exportTable(table, 'docx')") Файл MS Word
