@font-face {
  font-family: infinity;
  src: url("fonts/Infinity_Russian_edition.woff");
}
*::selection {
  background-color: transparent;
  color: #000;
}
.marged-right {
  margin-right: 20px;
}
.marged-top {
  margin-top: 60px;
}
.main-header {
  text-align: center;
  font-size: 355%;
  font-family: infinity;
  font-weight: bold;
}
.main-input {
  font-size: 900%;
  height: auto;
  line-height: 120%;
  text-align: center;
  border-radius: 10%;
  padding: 6%;
}
.main-label {
  font-size: 250%;
  font-family: infinity;
}
.center-text {
  text-align: center;
}
.icon-up-open,
.icon-down-open {
  position: relative;
  font-size: 150%;
  cursor: pointer;
  display: block;
  opacity: 0.7;
}
.icon-up-open::selection,
.icon-down-open::selection {
  background-color: transparent;
  color: #000;
}
.icon-up-open:hover,
.icon-down-open:hover {
  opacity: 1;
}
.icon-up-open {
  top: 30px;
}
.icon-down-open {
  bottom: 30px;
}
.user-link {
  text-decoration: underline;
}
table#main-table td,
table#correlation-table td,
table#main-table th,
table#correlation-table th {
  text-align: center;
  vertical-align: middle;
}
#main-table .check {
  padding: 0;
}
#main-table .check input {
  height: 65%;
  width: 50%;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 1px solid #a8a5a5;
}
#main-table .check input:checked {
  background: #a8a5a5;
}
#main-table .check input:focus,
#main-table .check input::selection {
  border: none;
  outline: 0;
}
#correlation-table td,
#correlation-table th {
  font-size: 120%;
}
