.marged-right
  margin-right 20px
.marged-top
  margin-top 60px
.main-header
  text-align center
  font-size 300%
.main-input
  font-size 1200%
  height 100%
  line-height 100%
  text-align center
  border-radius 10%
.main-label
  font-size 230%
  margin-bottom 30px
.center-text
  text-align center
.icon-up-open, .icon-down-open
  position absolute
  left 45%
  font-size 150%
  cursor pointer
  display block
.icon-up-open
  top:37%
.icon-down-open
  bottom 1%