@font-face {
  font-family: infinity;
  src: url("fonts/Infinity_Russian_edition.woff");
}
/**
  &::selection
    background-color transparent
    color #000*/
html,
body {
  height: 100%;
}
a {
  cursor: pointer;
}
.footer {
  color: #666;
  background: #f8f8f8;
  padding: 17px 0 18px 0;
  border-top: 1px solid #e7e7e7;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}
.push {
  height: 63px;
}
.marged-right {
  margin-right: 20px;
}
.marged-top {
  margin-top: 60px;
}
.padded-top {
  padding-top: 10px;
}
.navbar-header {
  border-right: 1px dashed #777;
}
.page-header {
  margin-top: 0;
}
.main-header {
  text-align: center;
  font-size: 355%;
  font-family: infinity;
  font-weight: bold;
}
.main-input {
  font-size: 900%;
  height: auto;
  line-height: 120%;
  text-align: center;
  border-radius: 10%;
  padding: 6%;
}
.main-label {
  font-size: 250%;
  font-family: infinity;
}
.center-text {
  text-align: center;
}
.icon-up-open,
.icon-down-open {
  position: relative;
  font-size: 150%;
  cursor: pointer;
  display: block;
  opacity: 0.7;
}
.icon-up-open::selection,
.icon-down-open::selection {
  background-color: transparent;
  color: #000;
}
.icon-up-open:hover,
.icon-down-open:hover {
  opacity: 1;
}
.icon-up-open {
  top: 30px;
}
.icon-down-open {
  bottom: 30px;
}
.user-link {
  text-decoration: underline;
}
.for-table,
.for-correlation-table {
  margin-bottom: 50px;
}
.table-header {
  text-align: center;
  font-size: 255%;
  font-family: infinity;
  font-weight: bold;
  margin-bottom: 40px;
}
table#main-table td,
table#correlation-table td,
table#main-table th,
table#correlation-table th {
  text-align: center;
  vertical-align: middle;
}
#main-table th {
  position: relative;
}
#main-table th .glyphicon {
  position: absolute;
  top: 5%;
  right: 2%;
  opacity: 0.2;
  cursor: pointer;
}
#main-table th .glyphicon:hover {
  opacity: 1;
}
#main-table td.name-td {
  position: relative;
}
#main-table td.name-td .glyphicon {
  position: absolute;
  top: 23%;
  right: 11px;
  opacity: 0.2;
  cursor: pointer;
}
#main-table td.name-td .glyphicon:hover {
  opacity: 1;
}
#correlation-table td,
#correlation-table th {
  font-size: 120;
}
.main-buttons {
  margin-bottom: 30px;
}
.checkDiv {
  position: fixed;
  top: 25%;
  width: 300px;
  left: -277px;
  min-height: 50%;
  padding: 23px;
  background: #fff;
  opacity: 0.9;
  border: 1px dotted #ddd;
  box-shadow: 0 0 10px;
  text-align: center;
  border-top-right-radius: 3px;
  z-index: 666;
}
.checkDiv span.glyphicon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#toast-container {
  top: 60px;
  position: relative;
}
.jumbotron h1 {
  font-family: infinity;
  font-weight: bold;
}
.table-list {
  line-height: 32px;
}
.table-list .profile-table-link {
  font-size: 18px;
}
.before-check {
  color: #cfcfcf;
  font-size: 19px;
  position: absolute;
  top: 40%;
}
.everything-fine {
  font-size: 19px;
  position: absolute;
  top: 40%;
}
.save-modal-content {
  box-shadow: none;
  background: none;
  border: none;
}
.save-dropdown {
  top: 80%;
}
.save-dropdown a {
  cursor: pointer;
}
.about-header {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.about-list li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.about-list li:first-child {
  padding-top: 0;
}
.about-list li:last-child {
  padding-bottom: 0;
}
.about-check-list {
  padding-top: 10px;
}
.alert-about {
  margin-top: 15px;
  margin-bottom: 5px;
}
