doctype html
html
    head
        title Test Analysis
        link(rel="stylesheet", type="text/css", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/fontello/css/fontello.css")

        include scripts
    body(ng-app="app")
        include navbar
        block main-content
