nav.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(href="#/") Анализ тестов
        .pull-right
            button.btn.btn-default.navbar-btn.marged-right(type="button") Регистрация
            button.btn.btn-default.navbar-btn(type="button") Войти

